In [10]:
import pandas
import matplotlib.pyplot as plt
dataset = pandas.read_csv('Rain_data_manipulated.csv', engine='python')
dataset.head()

,Unnamed: 0,RainToday,RainTomorrow,Pressure,Humidity,Temp,WindVelocity,Brightness
0,0,0.0,0,1007.40,46.5,19.35,66.0,1.702504
1,1,0.0,0,1009.20,34.5,20.75,57.0,1.702504
2,2,0.0,0,1008.15,34.0,22.10,68.5,1.702504
3,3,0.0,0,1015.20,30.5,22.30,34.0,1.702504
4,4,0.0,0,1008.40,57.5,23.75,54.5,1.016647

In [14]:
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LSTM
import numpy as np

In [15]:
Labels=np.array(dataset['RainTomorrow'])

In [16]:
Samples=np.array(dataset[['RainToday','Pressure','Humidity','Temp','WindVelocity','Brightness']])